@font-face{
    font-family: "DroidSerif";
    src: local('Droid Serif'), local('DroidSerif'), url('DroidSerif.woff2') format('woff2');
}

@font-face {
    font-family: 'DroidSans';
    src: local('Droid Sans'), local('DroidSans'), url('DroidSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('Inconsolata.woff2') format('woff2');
}


html {
	background-color:#222;
}
body {
	background-color: #eee;
	color: #111;
    border:1px solid #666;
	text-align: justify;
	width:42%;
	min-width:33em;
	padding:0 8em; 
	margin: 60px auto; 
	line-height:1.4;
	font-family: "DroidSerif", serif; 
	hyphens:auto;
}

a {
	color: #6C71C4;
	text-decoration: none;
    word-wrap:break-word;
    white-space: pre-wrap;
    word-break: break-all;
}

a:hover {
	text-decoration:none;
}

h1 {
    border-bottom:1px solid #aaa;
	text-align:center;
	text-transform:uppercase;
	margin-top:3em;
}

h2 { border-bottom:1px dotted #aaa; }
h3 { border:0px;}

h2, h3, h4 {text-align: left;}

.header * {text-align:center; border:0;}
.header {border-bottom:1px solid #222;}

p { margin:1ex auto;  }
p+p {text-indent:2em;} 
img {display:block; max-width: 100%; padding:1em; margin: auto}

blockquote { 
	padding : 20px;
	font-family: "DroidSans", sans-serif; 
	font-style: italic;
	color:#222;
}
blockquote img {
	margin:0;
	padding:0 1ex 0 0;
    vertical-align:middle;
}

img {
	max-width:100%;
}

table {
    border-color:#606060;
    border-style:solid;
    border-width:1px;
}

td, th, tr {
	padding:5px;
    vertical-align:middle;
    border-color:transparent;
    border-style:solid;
    border-width:1px;
}

tr {
	background-color:#ddd;
}

code {
	color:#CB4B16;
	padding:5px;
	font-family:'Inconsolata',monospace
}

pre {
    border-left:3px solid #2AA198;
    padding:1ex;
    padding-left:2ex;
	color:#CB4B16;
	font-family:'Inconsolata',monospace;
	line-height:1em;
	font-size:0.95em;
    overflow-x:auto;
}

.toc {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
	width:100%;
	background-color:#222;
    color: #eee;
	font-family: "DroidSans", sans-serif; 
	font-size:0.8em;
	text-align:left;
    overflow-y:scroll;
    z-index:+1;
    transition: height 0.5s ease-out;
	border-bottom:1px solid #93A1A1;
}

.toc ul, .toc ol {
    margin: 0;
    padding: 0 ;
    list-style: none;
}

.toc li {
    padding: 5px 25px;
}

.toc a {
    color: #93A1A1;
    text-decoration: none;
    display:block;
}

.toc a:hover { 
    text-shadow:2px 2px 6px #000;
	color:#6C71C4;
}

.isread {
	position:fixed;
	top:0;
    left: 50%;
    transform: translateX(-50%);
	color:#ddd;
	/*background-color:#222; */
	background:linear-gradient(rgba(34,34,34,1), rgba(34,34,34,0.8));
	width:100%;
	max-height:100px;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	font-size:0.89em;
    padding:10px;
    z-index:+2;
}
.isread a {
    color:#ddd;
}

.isread:hover + .toc , .toc:hover{
    height:66%;
    padding-top: 3em;
    transition: height 0.5s ease-out;
}

#scroll-bar {
    height: 3px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: +3;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
#scroll-bar-inner {
    background-color: #2AA198;
    height: 100%
}


.liberapay, .liberapay a {
	position:fixed; 
	bottom:5px; 
	left:5px;
	color:#ddd;
    transition:all 0.3s ease;
    font-size:11px;
    font-family:sans-serif;
}
.liberapay a:hover {
    color:DeepPink;
}

@media screen and (max-width: 940px) {
	.liberapay, .liberapay a {
    	position:fixed;
    	z-index:5;
    	top:15px;
    	left:10px;
    }

}

@media print {
    .isread, 
    #progress-wrapper, #progress-element, .liberapay,
    .print { visibility : hidden; }

    .toc { 
        position: relative; 
        width:100%;
        border:none;
        box-shadow: none;
        margin-bottom:100px;
        padding-top: 25px;
    }
    .toc li {
        padding: 5px 25px;
    }
    body { 
        border: none ; 
        width:80%;
        max-width:none;
        padding:2em;
        margin: 10px auto; 
    }
    body * {color: #000;}
}
